@import "nature.css";

body {
    background: #FFF;
}

div.body {
    padding: 0;
}
div.body h1 {
    background-color: #76AD17;
    border-bottom: 1em solid #63A100;
    border-top: 0;
    color: #FFF;
    font-size: 1.5em;
    font-weight: normal;
    height: 1em;
    letter-spacing: 0;
    line-height: 2em;
    margin: 0;
    padding: 0 0.5em;
    text-shadow: 0 1px 0 #444444;
}
div.section > p,
div.section > div.admonition {
    margin: 1em;
}

div.bodywrapper {
    margin: 0 300px 0 230px;
}
div.sphinxsidebar {
    margin-left: 0;
}
div.documentwrapper {
    float: none;
}

div.related {
    background: #329FD7;
}
div.related a {
    color: #FFFFFF;
}

#searchbox p.searchtip {
    display: none;
}
div.sphinxsidebar form {
    margin-bottom: 10px;
    font-size: 15px;
}

#zrssfeed-collective {
    font-size: 80%;
    position: absolute;
    right: 0;
    top: 32px;
    width: 300px;
}
div.rssHeader {
    background-color: #DDDDDD;
    color: #222222;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 5px 10px;
    text-shadow: 1px 1px 0 white;
}
div.rssHeader a {
    color: #222222;
    text-shadow: 1px 1px 0 white;
}
div.rssBody ul {
    list-style: none;
    color: #000000;
    margin: 10px 20px;
    padding: 0;
}
li.rssRow h4 {
    margin-bottom: 0;
}
li.rssRow div {
    float: right;
    font-size: 80%;
}
li.rssRow p {
    margin-top: 0.3em;
}

div.important {
    border: 1px solid #FF0000;
    padding: 0;
}
div.important p.last {
    line-height: 2.5em;
}
div.important p.admonition-title {
    background: #FF0000;
    color: #FFFFFF;
    padding: 0.5em;
    display: block;
    float: left;
}
